<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p><a href="/privacy">Privacy</a> <a href="/terms">Terms</a></p>
        </div>
        <div class="footer-center">
            <p>&copy; 2025 StayHaven, Inc.</p>
        </div>
        <div class="footer-right">
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>