
<% layout("/layouts/boilerplate") %>

    <body>
        <h2>Create Your Own Listing</h2>
        <br>
        <div class="container">

            <h2>Create Your Own Listing</h2>
            <form action="/listings" method="POST">
                <label for="title">Title</label>
                <input type="text" id="title" name="listing[title]" placeholder="Enter title" >

                <label for="desc">Description</label>
                <textarea name="listing[description]" id="desc" placeholder="Enter the description of your listing"
                    ></textarea>
                <label for="fln">Image Name</label>
                <input type="text" id="fln" name="listing[image][filename]" placeholder="Enter image name">

                <label for="url">Image URL</label>
                <input type="text" name="listing[image][url]" placeholder="Enter image URL" id="url">


                <label for="priceL">Price</label>
                <input type="number" name="listing[price]" id="priceL" placeholder="Enter listing price" >

                <label for="lcn">Location</label>
                <input type="text" name="listing[location]" placeholder="Enter location" id="lcn" >

                <label for="cnty">Country</label>
                <input type="text" id="cnty" name="listing[country]" placeholder="Enter country" >

                <button type="submit">Create Listing</button>
            </form>
        </div>

    </body>

 